@font-face {
   font-family: "dense-reg";
   src: url("Dense-Regular.otf");
}
body {

   width: 375px;
   #main {
      height: 370px;
      margin: 0 auto;
      border: 1px solid #000000;
      border-radius: 200px;

      #upper-side {
         text-align: center;
         #title {
            display: inline-block;
            margin-top: 43px;
            padding: 3px 12px;
            border: 1px solid #000000;
            border-radius: 4px;
            font-weight: bold;
            font-size: 13px;
            span { font-weight: normal; }
         }

         #first-bumps {
            li:nth-child(1) { margin-right: 88px; }
            li:nth-child(2) { margin-left: 88px; }
         }

         #meters {
            li { display: inline-block; }
            li.unit {
               border: 1px solid #000000;
               padding: 5px 2px;
               font-family: "dense-reg";
               font-size: 35px;
            }
            li.unit-gap {
               width: 15px;
            }
         }

         #second-bumps {
            margin-top: 7px;
            li { display: inline-block; }
            li:nth-child(1) { margin-right: 78px; }
            li:nth-child(2) {
               font-size: 14px;
               font-weight: bold;
            }
            li:nth-child(3) { margin-left: 78px; }
         }

         #rate {
            margin-top: 6px;
            font-size: 14px;
            font-weight: bold;
         }

         ul.row {
            margin-top: 4px;
            li.bump {
               display: inline-block;
               width: 7px;
               height: 7px;
               border: 1px solid #000000;
               border-radius: 5px;
            }
         }
      }

      #middle-side {
         margin-top: 12px;
         height: 23px;
         #spaces {
            li {
               float: left;
               display: block;
            }
            li.left {
               border-top-left-radius: 4px;
               border-top-right-radius: 4px;
               border-bottom-left-radius: 4px;
            }
            li.right {
               border-top-left-radius: 4px;
               border-top-right-radius: 4px;
               border-bottom-right-radius: 4px;
            }
            li.blank-edge {
               margin-top: 2px;
               width: 30px;
               height: 19px;
               background-color: #000000;
            }
            li.blank {
               margin-top: 9px;
               width: 54px;
               height: 11px;
               background-color: #000000;
            }
            li#meter-bar {
               z-index: -2;
               width: 205px;
               height: 23px;
               background-color: #000000;
               position: relative;
               div#pointer {
                  z-index: -1;
                  position: absolute;
                  top: 13px;
                  left: 0;
                  width: 10px;
                  height: 5px;
                  background-color: red;
               }
            }
         }
      }

      #lower-side {
         ul {
            margin: 5px 0;
            li { display: inline-block; }
            li.edge {
               margin-bottom: 12px;
               width: 72px;
               height: 76px;
            }
            li.screw {
               margin: 0 23px;
               width: 18px;
               height: 24px;
               border: 1px solid #000000;
               border-radius: 16px;
               div {
                  margin-top: 7px;
                  width: 16px;
                  height: 16px;
                  border: 1px solid #000000;
                  border-radius: 16px;
                  text-align: center;
               }
            }
            li.vertical-hole {
               margin: 17px 1px;
               width: 7px;
               height: 46px;
               background-color: #000000;
            }
            li#specs {
               font-size: 15px;
               font-weight: bold;
               span {
                  font-weight: normal;
                  font-size: 13px;
               }
            }
         }
         #others {
            li { display: inline-block; }
            li#optional-infos {
               background-color: #ffffff;
               padding: 5px 8px;
               border: 1px solid #000000;
               border-radius: 3px;
               text-align: center;
               p {
                  font-size: 10px;
                  margin-bottom: 2px;
                  span.small {
                     font-weight: bold;
                     font-size: 8px;
                  }
                  span.big {
                     font-weight: bold;
                     font-size: 13px;
                  }
               }

            }
         }
         #made-in {
            margin: 0 auto;
            text-align: center;
            p {
               font-size: 11px;
               font-weight: bold;
            }
         }
      }
   }
}
