/* Layout */
BorderPane {
   -fx-background-color: #b3b3cc;
   -fx-pref-width: 325px;
   -fx-pref-height: 325px;
}
Pane#main {
   -fx-background-color: #f0f0f5;
   -fx-border-style: solid;
   -fx-border-width: 1px;
   -fx-border-color: #9494b8;
   -fx-border-radius: 160px;

}
VBox#layout {
   -fx-alignment: center;
}
VBox#layout > * {
   -fx-alignment: center;
   -fx-max-width: 325px;
}

/* Label-first */
HBox#block_first {
}
HBox#block_first > Label {
   -fx-font-size: 12px;
   -fx-label-padding: 29px 0 9px 0;
}
HBox#block_first > Label#label_first {
   -fx-font-weight: bold;
}


/* Label-second */
FlowPane#block_second {
   -fx-hgap: 24px;
}

FlowPane#block_second > Label {
   -fx-border-style: solid;
   -fx-border-width: 1px;
   -fx-border-color: black;
   -fx-text-alignment: center;
   -fx-label-padding: 1px 1px 1px 2px;
   -fx-font-size: 21px;
}

/* Label-third */
VBox#block_third {

}
VBox#block_third > Label {
   -fx-font-size: 14px;
   -fx-font-weight: bold;
}
VBox#block_third > Label#label_first {
   -fx-label-padding: 8px 0 0 0;
}
VBox#block_third > Label#label_second {
   -fx-label-padding: 2px 0 5px 0;
}

/* Label-fourth */
VBox#block_fourth_top {
   -fx-background-color: #000000;
   -fx-pref-height: 12px;
   -fx-min-width: 325px;
}
HBox#block_fourth_center {
   -fx-background-color: red;
   -fx-pref-height: 5px;
   -fx-pref-width: 325px;
   -fx-alignment: center-left;
}
HBox#block_fourth_center > Pane {
   -fx-pref-height: 5px;
}
HBox#block_fourth_center > Pane#meter_edge_left {
   -fx-background-color: black;
   -fx-pref-width: 32px;
}
HBox#block_fourth_center > Pane#meter_left {
   -fx-background-color: white;
   -fx-pref-width: 32px;
}
HBox#block_fourth_center > Pane#meter_center {
   -fx-background-color: red;
   -fx-pref-width: 28px;
}
HBox#block_fourth_center > Pane#meter_right {
   -fx-background-color: white;
   -fx-pref-width: 201px;
}
HBox#block_fourth_center > Pane#meter_edge_right {
   -fx-background-color: black;
   -fx-pref-width: 32px;
}
VBox#block_fourth_bottom {
   -fx-background-color: #000000;
   -fx-pref-height: 12px;
   -fx-pref-width: 325px;
}

/* Label-fifth */
HBox#block_fifth {
   -fx-pref-height: 23px;
}

HBox#block_fifth > Label#scale {
   -fx-font-size: 12px;
   -fx-font-weight: bold;
}
HBox#block_fifth > Label#number {
   -fx-font-size: 16px;
   -fx-font-weight: bold;
}

/* Label-sixth */
VBox#block_sixth {
   -fx-max-width: 200px;
   -fx-border-style: solid;
   -fx-border-width: 1px;
   -fx-border-color: black;
   -fx-border-radius: 6px;
   -fx-padding: 4px 20px 4px 20px;
}
VBox#block_sixth > Label#label_first {
   -fx-font-size: 11px;
}
VBox#block_sixth > Label#label_second {
   -fx-font-size: 11px;
   -fx-padding: 0 0 3px 0;
}
VBox#block_sixth > Label#label_third {
   -fx-font-size: 12px;
   -fx-font-weight: bold;
}
VBox#block_sixth > Label#label_fourth {
   -fx-font-size: 9px;
}
VBox#block_sixth > Label#label_fifth {
   -fx-font-size: 12px;
   -fx-padding: 2px 0 2px 0;
}
VBox#block_sixth > Label#label_sixth {
   -fx-font-size: 13px;
   -fx-font-weight: bold;
}
