@font-face {
  font-family: "dense-reg";
  src: url("Dense-Regular.otf"); }
body {
  width: 375px; }
  body #main {
    height: 370px;
    margin: 0 auto;
    border: 1px solid #000000;
    border-radius: 200px; }
    body #main #upper-side {
      text-align: center; }
      body #main #upper-side > * {
        background-color: #ffffff; }
      body #main #upper-side #title {
        display: inline-block;
        margin-top: 43px;
        padding: 3px 12px;
        border: 1px solid #000000;
        border-radius: 4px;
        font-weight: bold;
        font-size: 13px; }
        body #main #upper-side #title span {
          font-weight: normal; }
      body #main #upper-side #first-bumps {
        margin-top: 0;
        padding-top: 3px;
        display: inline-block;
        width: 200px; }
        body #main #upper-side #first-bumps li:nth-child(1) {
          margin-right: 88px; }
        body #main #upper-side #first-bumps li:nth-child(2) {
          margin-left: 88px; }
      body #main #upper-side #meters {
        z-index: -1;
        background-color: rgba(0, 0, 0, 0);
        display: block;
        margin-top: 0;
        height: 47px; }
        body #main #upper-side #meters li {
          display: inline-block; }
        body #main #upper-side #meters li.unit {
          z-index: -2;
          position: relative;
          border: 1px solid #000000;
          padding: 5px 2px;
          height: 35px;
          font-family: "dense-reg";
          font-size: 35px;
          width: 11px; }
          body #main #upper-side #meters li.unit span {
            position: absolute;
            top: 5px;
            display: block;
            width: 11px;
            height: 35px;
            text-align: center; }
        body #main #upper-side #meters li.unit-gap {
          width: 15px;
          height: 47px; }
      body #main #upper-side #second-bumps {
        margin-top: 0;
        padding-top: 7px;
        display: inline-block;
        width: 340px; }
        body #main #upper-side #second-bumps li {
          display: inline-block; }
        body #main #upper-side #second-bumps li:nth-child(1) {
          margin-right: 78px; }
        body #main #upper-side #second-bumps li:nth-child(2) {
          font-size: 14px;
          font-weight: bold; }
        body #main #upper-side #second-bumps li:nth-child(3) {
          margin-left: 78px; }
      body #main #upper-side #rate {
        display: inline-block;
        width: 340px;
        padding-top: 6px;
        margin-top: 0;
        font-size: 14px;
        font-weight: bold; }
      body #main #upper-side ul.row {
        margin-top: 4px; }
        body #main #upper-side ul.row li.bump {
          display: inline-block;
          width: 7px;
          height: 7px;
          border: 1px solid #000000;
          border-radius: 5px; }
    body #main #middle-side {
      margin-top: 12px;
      height: 23px; }
      body #main #middle-side > * {
        background-color: #ffffff; }
      body #main #middle-side #spaces li {
        float: left;
        display: block; }
      body #main #middle-side #spaces li.left {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px; }
      body #main #middle-side #spaces li.right {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
      body #main #middle-side #spaces li.blank-edge {
        margin-top: 2px;
        width: 30px;
        height: 19px;
        background-color: #000000; }
      body #main #middle-side #spaces li.blank {
        margin-top: 9px;
        width: 54px;
        height: 11px;
        background-color: #000000; }
      body #main #middle-side #spaces li#meter-bar {
        z-index: -2;
        width: 205px;
        height: 23px;
        background-color: #000000;
        position: relative; }
        body #main #middle-side #spaces li#meter-bar div#pointer {
          z-index: -1;
          position: absolute;
          top: 13px;
          left: 0;
          width: 10px;
          height: 5px;
          background-color: red; }
    body #main #lower-side ul {
      margin: 5px 0; }
      body #main #lower-side ul li {
        display: inline-block; }
      body #main #lower-side ul li.edge {
        margin-bottom: 12px;
        width: 72px;
        height: 76px; }
      body #main #lower-side ul li.screw {
        margin: 0 23px;
        width: 18px;
        height: 24px;
        border: 1px solid #000000;
        border-radius: 16px; }
        body #main #lower-side ul li.screw div {
          margin-top: 7px;
          width: 16px;
          height: 16px;
          border: 1px solid #000000;
          border-radius: 16px;
          text-align: center; }
      body #main #lower-side ul li.vertical-hole {
        margin: 17px 1px;
        width: 7px;
        height: 46px;
        background-color: #000000; }
      body #main #lower-side ul li#specs {
        font-size: 15px;
        font-weight: bold; }
        body #main #lower-side ul li#specs span {
          font-weight: normal;
          font-size: 13px; }
    body #main #lower-side #others li {
      display: inline-block; }
    body #main #lower-side #others li#optional-infos {
      background-color: #ffffff;
      padding: 5px 8px;
      border: 1px solid #000000;
      border-radius: 3px;
      text-align: center; }
      body #main #lower-side #others li#optional-infos p {
        font-size: 10px;
        margin-bottom: 2px; }
        body #main #lower-side #others li#optional-infos p span.small {
          font-weight: bold;
          font-size: 8px; }
        body #main #lower-side #others li#optional-infos p span.big {
          font-weight: bold;
          font-size: 13px; }
    body #main #lower-side #made-in {
      margin: 0 auto;
      text-align: center; }
      body #main #lower-side #made-in p {
        font-size: 11px;
        font-weight: bold; }
  body #speed-controller {
    width: 240px;
    padding: 24px 35px 15px 35px; }
    body #speed-controller * {
      margin-bottom: 6px; }
    body #speed-controller #speed-form {
      width: 100px;
      padding: 5px 7px;
      border: 1px solid #676767;
      margin-right: 9px;
      border-radius: 5px; }
    body #speed-controller #impliment {
      padding: 6px 15px;
      border: 1px solid #dedede;
      border-radius: 4px;
      background-color: #00a045;
      color: #ffffff; }

/*# sourceMappingURL=style.css.map */
